@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String, form: Form[URLForm.URLData], postUrl: Call)(implicit request: MessagesRequestHeader)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/custom.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

        <!-- Bootstrap CSS -->
        <link href="@routes.Assets.versioned("stylesheets/bootstrap/bootstrap.min.css")" rel="stylesheet">

    </head>

    <body class="text-center">

        @helper.form(postUrl, 'id -> "urlInputForm", 'class -> "form-signin") {
            @helper.CSRF.formField

            <img class="mb-4" src="@routes.Assets.versioned("images/chatmeter_logo2x.png")" alt="" width="330">
            <h1 class="h3 mb-3 font-weight-normal">Please type your URL below:</h1>
            @helper.input(form("inputURL"), '_label -> "URL") { (id, name, value, args) =>
                <input type="text" id="@id" name="@name" class="form-control" placeholder="https://www.google.com/" required autofocus @toHtmlArgs(args)>
            }
            <button class="btn btn-lg btn-primary btn-block" type="submit">Check Title</button>

            <div id="chatmeter-alert-section"></div>
        }

        @* Global errors are not tied to any particular form field *@
        @if(form.hasGlobalErrors) {
            @form.globalErrors.map { error: FormError =>
                <div>
                    @error.key: @error.message
                </div>
            }
        }

        <!-- jQuery -->
        <script src="@routes.Assets.versioned("javascripts/jquery-3.3.1.min.js")" type="text/javascript"></script>

        <!-- jQuery -->
        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>

        <!-- Bootstrap -->
        <script src="@routes.Assets.versioned("javascripts/bootstrap/bootstrap.min.js")" type="text/javascript"></script>
    </body>
</html>
